body {
    margin: 0px
}

.red {
    background: #c71226;
    height:100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 100px;
}

.blue {
    background: #0d1b88;
    height: 100px;
    margin-right: 10px;
}

.green {
    background: #397327;
    height: 100px;
    margin-top: 20px;
}