body {
    margin: 20px;
}

.avatar {
    width: 150px;
}

.card{
    display: flex;
    background: #b1d7f9;
    justify-content: space-around;
    /* border: 1px dotted #000000; */
}

.italic {
    font-style: italic;
}

.dot-black-border {
    border: 1px dotted #000000
}